# Gradle Wrapper Files
.gradle/
build/
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
*.log

# Kotlin Specific
*.class
*.kotlin_metadata
*.swp
*.iml

# OS Specific
.DS_Store
Thumbs.db

# Exclude test-projects directory
test-projects